<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gripper_ros2_control" params="
        prefix
        use_fake_hardware:=false
        fake_sensor_commands:=false
        sim_gazebo:=false
        sim_isaac:=false
        isaac_joint_commands:=/isaac_joint_commands
        isaac_joint_states:=/isaac_joint_states
        use_internal_bus_gripper_comm:=true
        gripper_joint_name:=right_finger_bottom_joint
        tf_prefix:=''
        robot_ip:=192.168.1.10
        username:=admin
        password:=admin
        port:=10000
        port_realtime:=10001
        session_inactivity_timeout_ms:=60000
        connection_inactivity_timeout_ms:=2000
        gripper_max_velocity:=100.0
        gripper_max_force:=100.0">

        <ros2_control name="GripperHardwareInterface" type="system">
            <hardware>
                <xacro:if value="${sim_isaac}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">${isaac_joint_commands}</param>
                    <param name="joint_states_topic">${isaac_joint_states}</param>
                    <param name="trigger_joint_command_threshold">0.02</param>
                </xacro:if>
                <xacro:if value="${sim_gazebo}">
                    <plugin>gz_ros2_control/GzSimSystem</plugin>
                </xacro:if>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">${fake_sensor_commands}</param>
                    <param name="state_following_offset">0.0</param>
                </xacro:if>
                <xacro:unless value="${sim_isaac or sim_gazebo or use_fake_hardware}">
                    <plugin>kortex_driver/KortexMultiInterfaceHardware</plugin>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="username">${username}</param>
                    <param name="password">${password}</param>
                    <param name="port">${port}</param>
                    <param name="port_realtime">${port_realtime}</param>
                    <param name="session_inactivity_timeout_ms">${session_inactivity_timeout_ms}</param>
                    <param name="connection_inactivity_timeout_ms">${connection_inactivity_timeout_ms}</param>
                    <param name="tf_prefix">"${tf_prefix}"</param>
                    <param name="use_internal_bus_gripper_comm">${use_internal_bus_gripper_comm}</param>
                    <param name="gripper_joint_name">${gripper_joint_name}</param>
                    <param name="gripper_max_velocity">${gripper_max_velocity}</param>
                    <param name="gripper_max_force">${gripper_max_force}</param>
                </xacro:unless>
            </hardware>

            <!-- Joint interfaces -->
            <!-- With Gazebo or Hardware, they handle mimic joints, so we only need this command interface activated -->
            <joint name="${prefix}right_finger_bottom_joint">
                <command_interface name="position" />
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <!-- When simulating we need to include the rest of the gripper joints -->
            <xacro:if value="${use_fake_hardware or sim_isaac or sim_gazebo}">
                <joint name="${prefix}right_finger_tip_joint">
                    <param name="mimic">${prefix}right_finger_bottom_joint</param>
                    <param name="multiplier">-1</param>
                    <xacro:unless value="${sim_gazebo}">
                        <command_interface name="position"/>
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}left_finger_bottom_joint">
                    <param name="mimic">${prefix}right_finger_bottom_joint</param>
                    <param name="multiplier">1</param>
                    <xacro:unless value="${sim_gazebo}">
                        <command_interface name="position"/>
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
                <joint name="${prefix}left_finger_tip_joint">
                    <param name="mimic">${prefix}right_finger_bottom_joint</param>
                    <param name="multiplier">-1</param>
                    <xacro:unless value="${sim_gazebo}">
                        <command_interface name="position"/>
                        <state_interface name="position"/>
                        <state_interface name="velocity"/>
                    </xacro:unless>
                </joint>
            </xacro:if>
        </ros2_control>
    </xacro:macro>

</robot>
